**/target/
**/Cargo.lock
*.log

infra/local-db/database-data

# Azure Functions artifacts
bin
obj
appsettings.json

products-api/api

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
